body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: palegoldenrod;
}

body, h1, .sub {
    margin: 0;  
}

.container {
    border: 2px solid lightblue;
    width: 90%;
    max-width: 980px;
    margin: 0 auto; 
}

/* switch navigation bar to right */
.container-nav {
    display: flex;
    justify-content: space-around;
}

header {
    /* border: 2px solid #1792d2; */
    padding: 2em 0;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
}

.sub {
    font-size: .75rem;
    font-weight: 700;
    color: #1792D2;
}

nav ul {
    /* border: 2px solid #1792d2; */

    /* remove bullet points from the list */
    list-style: none;
    padding: 0;

    /* convert flex and center all list items */
    display: flex;
    justify-content: center;
}

nav li {
    /* border: 2px solid #1792d2; */

    /* bring space left and right to all list items */
    margin: 0 1em;
}

nav a {
    color: #707070;
    text-decoration: none;
    font-weight: 700;   
}

nav a:focus, nav a:hover {
    color: green;
}

.current-page {
    border-bottom: 1px solid blue;
}

.current-page:hover, .current-page:focus {
    color: #707070;
}

@media (max-width: 680px) {
    .container-nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
    }  
    nav li {
        margin-bottom: 1em;
    }
}

.main {
    border: 2px solid yellow;
    max-width: 90%;
    margin: 0 auto;
}

.wall {
    width: 25%;
}

.sub-section {
    display: flex;
    margin: 2em;
}

.left-img {
    width: 50%;
    margin: 0;
}