* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Blinker', sans-serif;
    display: flex;

}

h1,
h2 {
    margin: 0;
}

/* typography */

.card-title {
    font-size: 28px;
}

.card-content,
.card-time {
    font-size: 16px;
}

.card-read-more {
    font-size: 20px;
}

/* colors */ 

.card-title {
    color: #05cbe9;
}


/* content */

.container  {
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    max-width: 800px;
    background: #111d4a;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.card-img {
    object-fit: cover;
    flex-basis: 200px;
    min-width: 0;
    min-height: 0;
}

.card-main {
    padding: 1em;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}   

.card-time {
    margin: 0;
    font-size: 20px;
    opacity: .6;
    line-height: 1;
}

.card-time span {
    font-weight: 700;
    display: block;
    font-size: 1.25em;
}

.card-read-more {
    text-decoration: none;
    background-color: #05cbe9;
    text-align: center;
    color: black;
    padding: 1em;
    transform: scale(1);
    transition: all 300ms;
    border-radius: 1.2em;
    letter-spacing: 1px;
}

.card-read-more:hover,
.card-read-more:focus {
    color: #fff;
    transform: scale(1.1);
    background-color: #215d70;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .card-main {
        display: flex;
        flex-direction: column;
    }

    .card-footer {
        margin-top: auto;
    }
}