body {
    font-size: 1.125rem;
    color: #707070;
}

body, h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #212614;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

img {
    max-width: 100%;
}

.container {
    /* background-color: #fec4f7; */
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
    background-color: lightpink;
}

.columns {
    display: flex;
    /* border: 2px solid red; */
    align-items: flex-start;
    margin: 1em 0;
}

.col {
    /* border: 2px solid yellow; */
    margin: 1%;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

.card {
    background: #312614;
    color: #fff;
    padding: .5em;
}


.orange {
    color: #b7832f;
}

@media (max-width: 500px) and (orientation: landscape) {
    body {
        background-color: yellow;
    }
    .columns {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .card {
        padding: 0;
    }
}

