body, h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}


header {
    padding: 45px;
    font-size: 36px;
    background: #2e354f;
    color: #fff;
}

.h-two {
    font-size: 24px;
    color: #ef5839;
}

img {
    width: 500px;
}

p {
    font-size: 18px;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.section-one {
    background: #fff;
    padding: 45px;
    border: 20px solid darkblue;
}

.link {
    color: #ef5839;
}

.white-strong {
    color: #fff;
}

.section-two {
    padding: 45px;
    background: #2e354f;
    color: #fff;
}

.btn {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    background-color: lightblue;
}

.btn-colorful {
    background: #ef5839;
    color: #fff;
}

.btn-white {
    background: #fff;
    color: #000;
}