body{
    margin: 0 auto;
    width: 750px;
    border: solid darkblue 2px;
}

header {
    background: #ffe600;
    color: black;
    padding: 45px;
    text-align: center;
}

#section-1 {
    background: black;
    padding: 25px;
    color: white;
    text-align: left;
}

#section-1 a {
    background-color: yellow;
    color: black;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

#section-1 a:hover, #section-1 a:focus {
    color: purple;
}

#section-1 span {
    color: orange;
    text-decoration: underline;
}

#section-2 {
    padding: 25px;
    text-align: left;
}

#section-2 a {
    background-color: black;
    color: yellow;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

#section-2 a:hover, #section-1 a:focus {
    color: purple;
}