body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    width: 250px;
    margin: 0 0 25px 25px;
}

h1 {
    color: #2e7ad3;
    font-size: 48px;
    text-align: center;
    margin: 45px;
}

h2 {
    color: #104c90;
    margin: 25px;
    font-size: 32px;
}

p {
    margin: 9px;
    margin-left: 25px;
    font-size: 16px;
}

span {
    text-decoration: underline;
    color: #ff8000;
}

a {
    color: #ff8000;
    font-weight: bold;
    color: black;
    background: rgb(228, 228, 16);
    color: #104c90;
    padding: 20px;
    display: inline-block;
}

a:hover, a:focus {
    color: #F25162;
}

.container {
    padding: 25px;
    width: 500px;
    background-color: #f1f1f1;
    margin: 0 auto;
}

.button {
    
}