/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */


body {
    background-color: #f8f8f8;
}

.container {
    border: 2px solid green;
    width: 90%;
    margin: 1em auto;
}

body, h1, h2 {
    margin: 0;  
}

h1  {
    font-family: 'Lora', serif;
    font-size: 3.375rem;
    color: #143774;
}

.sub {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #1792D2;
}

header {
    border: 2px solid blue;
    width: 80%;
    margin: 1em auto;
    text-align: center;
}

nav li {
    border: 2px solid black;
    margin: 0 auto;
}

nav ul {
    border: 2px solid lightblue;
    list-style: none;
}

a {
    color: yellow;
}

a::focus, a::hover {
    color: green;
}
