body {
    background-color: palegoldenrod;
}

body, h1 {
    margin: 0;  
}

header {
    border: 2px solid #1792d2;
    padding: 2em 0;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
}

.sub {
    font-family: 'Ubuntu', sans-serif;
    font-size: .75rem;
    font-weight: 700;
    color: #1792D2;
}

nav ul {
    border: 2px solid #1792d2;
    /* remove bullet points from the list */
    list-style: none;
    padding: 0;
    /* convert flex and center all list items */
    display: flex;
    justify-content: center;
}

nav li {
    /* border: 2px solid #1792d2; */
    /* bring space left and right to all list items */
    margin: 0 1em;
}

nav a {
    color: #707070;
    text-decoration: none;
    font-weight: 700;
}

nav a:focus, nav a:hover {
    color: green;
}

.current-page {
    text-decoration: underline;
}
