body {
    background-color: #f8f8f8;
}

body, h1, h2 {
    margin: 0;  
}

h1  {
    font-family: 'Lora', serif;
    font-size: 3.375rem;
    color: #143774;
}

.sub {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #1792D2;
}

header {
    border: 2px solid #1792d2;
    width: 80%;
    margin: 1em auto;
    text-align: center;
    background-color: palegoldenrod;
}

nav ul {
    border: 2px solid #1792d2;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    /* border: 2px solid #1792d2; */
    margin: 0 1em;
}

nav a {
    color: #707070;
    text-decoration: none   ;
}

nav a:focus, nav a:hover {
    color: green;
    text-decoration: underline #143774;
}
