body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
}

header {
    border: 2px solid blue;
    width: 50%;
}

main {
    border: 2px solid green;
    width: 50%;
}

.container {
    display: flex;

}