* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* typography */ 

h1  {
    font-size: 2.25rem;
    font-weight: 300;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

p {
    font-size: .625rem;
}

strong {
    font-weight: 900;
}

.fine-print {
    font-size: .625rem;
    letter-spacing: 1px;
}

/* wrapper */

.container {
    display: flex;
    flex-direction: column;
}

/* header */

header {
    background-color: #404040;
    background-image: url("../Images/jon-tyson-kctt4tL1dkE-unsplash.jpg");
    color: #fff;
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
}

.header-title {
    margin: 2em 0;
}

.header-second {
    color: #f18119;
    font-size: 1.3125rem;
    font-weight: 900;
    margin: 0;
}

.top-info {
    color: #f18119;
    font-size: .625rem;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 10px solid #f18119;

}

/* main */

main {
    padding: 2em 1em;
    border: 2px solid green;
}

.main-second {
    color: #f18119;
    font-size: 1rem;
    font-weight: 900;
    margin-top: 0;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .container {
        flex-direction: row;
    }

    header, 
    main {
        width: 50%;
        min-height: 100vh;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;  
        border: none;
        padding: 2em;
    }
}