body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

h1  {
    font-size: 2.25rem;
    font-weight: 300;
}

h2 {
    font-size: 1.3125rem;
}

p {
    font-size: .625rem;
}

strong {
    font-weight: 900;
}

header {
    background-color: #404040;
    background-image: url("../Images/jon-tyson-kctt4tL1dkE-unsplash.jpg");
    color: #fff;
    padding: 0 .25em 1em;
    display: flex;
    flex-direction: column;
}

main {
    border: 2px solid green;
}

.container {
    display: flex;
    flex-direction: column;
}

.header-title {
    order: 0;
    margin: 2em 0;
}

.header-second {
    color: #f18119;
    font-size: 1.3125rem;
    font-weight: 900;
    order: 1;
    margin: 0;
}

.top-info {
    color: #f18119;
    font-size: .625rem;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 10px solid #f18119;

}

.main-second {
    color: #f18119;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.fine-print {
    font-size: .625rem;
    letter-spacing: 1px;
}